.Layout{
    display:grid;
    grid-template-areas: "Nav" "Content";

    grid-template-rows: 0.01fr 0.9fr;
    gap: 20px;
}

.Layout__Nav{
    /* background: red; */

    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--borderColor);
    /* border-radius: 8px; */
}

.Layout__Content{
    /* background: green */
}