.Container_Interception{

    width: 75vw;
    height: 85vh;

    position: relative;
    top: 5%;

    margin: auto;

    will-change: transform;
    animation: UP 0.3s ease forwards;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: var(--Shadow);
}

.Container_Form{
    /* background: red; */
    width: 43%;
    height: 100%;
    position: absolute;

    z-index: 10;
    padding: 15px;
    
}

.Container_Form_Page{
    /* background: red; */
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 15px;

}


@keyframes UP {
    0%{
       
        transform: translateY(15%) scale(0.9);
 
    }

    100%{
        
        transform: translateX(0)scale(1);
     
    }
}

.FormPeminjaman{
    border-radius: 16px;
    background: rgba(250, 251, 252, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(250, 251, 252, 0.3);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #121212;

    height: 100%;
    /* overflow: hidden; */
    min-width: 78%;
    max-height: 100%;
    max-width: 240%;
    resize:both;
    overflow:hidden;

    animation: Show 0.3s ease 0.8s forwards;
    transform-origin: left center;
    scale: 0;

   
}

@keyframes Show {
    0%{
        scale: 0;
    }

    100%{
         scale: 1;
    }
}

.GridTujuanLokasi{
    /* padding: 10px; */
    display: grid;
    gap: 10px;
    margin-bottom: 10px;
}




.SegmentForm__Radio{
    display: none;
    
}

.SegmentForm__Radio:checked ~ .SegmentForm__Grid{
    /* opacity: 1;
    z-index: 99; */
    display: grid;
    animation: showForm 0.4s ease forwards !important;
    
}

@keyframes showForm {
    0%{
        opacity: 0;
        /* z-index: 0; */
    }

    100%{
        opacity: 1;
        /* z-index: 30; */
        
    }
}

.SegmentForm__Grid{
    transition: 0.4s ease;
    opacity: 0;

    display: none;
    grid-template-areas: "Title" "Content" "Footer";
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    height: 100%;
 
    margin:  0 10px 0 10px;
    padding-bottom: 10px;

    gap: 10px;
    z-index: 0;
}

.SegmentForm__Title{
    grid-area: Title;
    /* background: red; */
    text-align: center;
    display: grid;
    place-items: center;
     user-select: none;
}

.SegmentForm__Content{
    grid-area: Content;
    /* background: pink; */
    display: grid;
    gap: 10px;
}

.SegmentForm__Footer{
    grid-area: Footer;
    /* background: Green; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
     user-select: none;
     transition: 0.4s ease;
}

.SegmentForm__Footer label, .SubmitForm{
    border-radius: 7px;

    display: grid;
    place-items: center;

    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
}

.SegmentForm__Footer label[data-type="after"]{
    background: var(--Surface);
    color: var(--Typo);
}

.SegmentForm__Footer label[data-type="before"]{
    background: transparent;
    color: var(--Surface);
    border: 1px solid var(--Surface);
}

.SubmitForm{
    background: var(--Act);
    color: var(--TypoStill);
    
}

.ExitForm{
    display: inline-block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;

    border-radius: 7px;
    background: rgba(250, 251, 252, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(250, 251, 252, 0.3);
   
    
    animation: Show 0.3s ease 0.8s forwards;
    transform-origin: right center;
    scale: 0;

    z-index: 10;
    margin: 15px;

    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 24px;

    color: var(--BG);


    user-select: none;
}

.NamaKendaraan{
    display: inline-block;
    
    text-align: right;
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;

    border-radius: 7px;
    background: rgba(250, 251, 252, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(250, 251, 252, 0.3);
   
    
    animation: Show 0.3s ease 0.8s forwards;
    transform-origin: bottom center;
    scale: 0;

    z-index: 10;
    margin: 15px;

    display: grid;
    place-items: center;
    /* cursor: pointer; */
    font-size: 20px;
    font-weight: bold;

    color: var(--BG);

    padding: 5px 10px;


    user-select: none;
}


.LoadingSubmit{
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    
}