.empty{
    background: var(--borderColor);
    /* background: red; */
    width: 100%;
    height: 100%;

    text-align: center;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.cancel{
    font-size: 20px;
    text-align: right;

    display: grid;
    place-items: center;

    /* width: 45px;
    height: 45px; */

    border-radius: 6px;

    padding: 7px 14px;
    letter-spacing: 0.3px;
    
    background: var(--GlassBG);
    color: var(--Typo);

    position: absolute;
    right: 5px;
    top: 5px;

    z-index: 50;
    cursor: pointer;

    transition: 0.4s ease;
}

.cancel:hover{
  
    
    background: var(--BG);
  
}