.label{
    position:relative;
    border: 1px;
    display: grid;
    background: var(--Surface);
    color: var(--Typo);
    padding: 15px 15px 15px 15px;
 
    border-radius: 8px;
    cursor: text;
}


.with__border{
    transition: 0.4s ease;
    border: 1px solid var(--borderColor);
}

.with__border:focus-within {
   border: 1px solid var(--Typo);
}
.label:has(input[server-form="primary"]:invalid){
   border: 1px solid var(--Error2);
}


.label .span{
    position:absolute;
    top:0;
    left:0;
    padding: 15px;
    transform:translateY(0);
    /* font-weight: bold; */
    transition-duration:300ms;
    user-select: none;
}

.label:focus-within > .span,
input:not(:placeholder-shown) + .span{
    color:var(--TypoSecond);
    font-size: 13px;
    transform:translateY(-10px);
    
}

.label:focus-within > input,
.label input:not(:placeholder-shown) {
    
     transform:translateY(10px);
}