.area{
    display: grid;
    position: fixed;
    
    height: 100%;
    width: 100%;
    padding: 50px 25% 60px 25%;
}

.container{
    background: var(--Surface);
    padding: 15px;
    border-radius: 7px;
    box-shadow: var(--Shadow);

    /* overflow: hidden; */
 /* grid-template-rows: 0.1fr 1fr; */
 
    display: grid;

    animation: UP 0.4s ease;

    position: relative;

   

}

.back{
    position: absolute;
    right: 20px;
    top: 15px;

    font-size: 28px;
    cursor: pointer;
}


@keyframes UP {
    0%{
       
        transform: translateY(10%) scale(0.95);
 
    }

    100%{
        
        transform: translateX(0)scale(1);
     
    }
}